include layout/header

div.jumbotron
    h1.display-3="Oops..."
    p.lead="This is not the web page you are looking for..."
    hr.my-4
    p.text-muted="You can return to main page right here"
    a(href="/",role="button").btn.btn-primary.btn-lg="To main page"

include layout/footer


