include layout/header
body
include layout/navigation
div.jumbotron.jumbotron-fluid
    div.container
        h1.display-4="JT"
        p.lead="Here you can share your stories, achievements, or just a good mood"
include layout/carousel
div.container
    unless user
        h2=""
    else
        h2=user.name
include layout/footer
