div(data-ride="carousel")#carouselExampleSlidesOnly.carousel.slide
    div.carousel-inner
        div.carousel-item.active
            img(src="/images/0r7qN8U.jpg",alt="...").d-block.w-100
        div.carousel-item
            img(src="/images/120608.jpg",alt="...").d-block.w-100

